#head{
    /* give width and height */
    width: 100%;
    height: 90px;
    /* font */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    /* evenly space between items */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:120px;
}
#navi{
    /* give a gap between links */
    display: flex;
    gap:40px;
    color: #6C5CE7;
}
a{
    text-decoration: none;
}
/* on hover change the anchor colour and font weight */
a:hover{
    color: black;
    font-weight: 700;
}
/* edit header title text */
#header{
    margin-left: 250px;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    margin-top: 10px;
}
#header>h1{
    margin-top: 5px;
}
/* button formatting */
#buton{
    width: 110px;
    height:45px;
    margin-right: 200px;

    border-radius: 50px;
    padding: 10px 30px;
    background-color: #6C5CE7;
    color: white;
}
/* give line under header a shadow */
hr{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
/* first section */
/* fix text formatting */
#title>h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 96px;
    text-decoration: none;
    text-align: center;
}
#title>h3{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}
#title{
    margin-top: 120px;
}
/* add the rectangle in background */
#bg {
    position: relative;
    overflow: hidden;
    padding: 50px; 
    margin-top: -5px;
    
}
/* create rectangle */
#bg::after{
    content: '';
    position: absolute;
    width: 976px;
    height: 1068px;
    background: #FFEAA7;
    opacity: 50%;
    border-radius: 99px;
    top: -623px;
    z-index: -1;
    transform: rotate(45deg);
    top: -20%; /* positioning */
    right: 0%; /* positioning */
}
/* positioning background dot image */
#dots{
    position: absolute;
    width: 209px;
    height: 285px;
    top: 20px;
    left: 1700px;
    overflow: hidden;
}
#main{
    width: 100%;
    display: flex;
}
/* grid formatting */
#grid{
    height: auto;
    padding-top: 200px;

    box-sizing: border-box;
    
    /* set up grid */
    display: grid;
    grid-template-columns: repeat(3, 300px) 200px 200px;
    grid-template-rows: 150px repeat(3, 250px);

    grid-template-areas: 
    "img1 img2 img2 img3 img3"
    "img6 img2 img2 img4 img5"
    "img6 img7 img8 img8 img9"
    "img10 img12 img8 img8 img11";

    gap: 20px;
    justify-content: center;
    align-content: center;
}
.galleryItem{
    overflow: hidden;
    position: relative;
    border-radius: 10%;
}
/* assign items and fix specific item sizing */
.galleryItem:nth-child(1){
    border-radius:0%;
    grid-area: img1;
}
.galleryItem:nth-child(2){
    grid-area: img2;
}
.galleryItem:nth-child(3){
    border-radius: 0%;
    grid-area: img3;
    
}
.galleryItem:nth-child(4){
    grid-area: img4;

}
.galleryItem:nth-child(5){
    grid-area: img5;
    
}
.galleryItem:nth-child(6){
    grid-area: img6;
    
}
.galleryItem:nth-child(7){
    grid-area: img7;
    
}
.galleryItem:nth-child(8){
    grid-area: img8;
    
}
.galleryItem:nth-child(9){
    grid-area: img9;
}
.galleryItem:nth-child(10){
    border-radius: 0%;
    grid-area: img10;
}
/* adjust image sizing  */
.galleryItem >img {
    height: 100%;
    transform-origin: center;
}
.galleryItem:nth-child(2)>img{
    width: 100%;
    height: 120%;
}
.galleryItem:nth-child(7)>img{
    width: 100%;
    height: 105%;
}
/* gallery text formatting */
.galleryItem:nth-child(2)>h2{
    width: 100%;
    height:40px;
    position:absolute;
    bottom: 0px;
    left: 50%;
    text-align: left;

    padding: 20px 0px 10px 30px;
    
    transform: translateX(-50%);

    color: rgba(255, 255, 255, 0);
    font-size: 18px;
} 
/* format button in grid */
.galleryItem:nth-child(10)>button{
    width: 150px;
    height:45px;

    border-radius: 50px;
    padding: 10px 30px;
    background-color: #6C5CE7;
    color: white;
}
.galleryItem:nth-child(10){
    display: flex; 
    justify-content: center; 
    /* align-items: center; */
}
/* fix positioning of images inside the grid */
.galleryItem:nth-child(5), .galleryItem:nth-child(6), .galleryItem:nth-child(4), .galleryItem:nth-child(9){
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.galleryItem:nth-child(3), .galleryItem:nth-child(1) {
    display: flex; 
    justify-content: center; 
    align-items:end;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
/* section two */
#two{
    padding-left: 250px;
    margin-top: 100px;
}
#two>h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
#two>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 60%;
}
/* keywords section */
#box{
    display: flex;
    gap: 80px;
}
#im{
    position: relative;
}
#first{
    position:absolute;
    
    top: 7px;
    left: 4px;
}
#second{
    position: relative;
    z-index: -1;
}
#support{
    width: 270px;
    margin-top: 40px;
}
#support>h2{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
#support>p{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
#but2{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #6C5CE7;
    border-radius: 15px;
    border: 0.5px solid #5c5c5e91;

    width: 150px;
    height:45px;
    background-color: white;
}
/* third section */
#three{
    margin-top: 100px;
}
#three>h1{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 62px;
    line-height: 100%;
}
#three>h2{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: rgba(85, 85, 85, 0.336);
    margin-bottom: 30px;
}
/* different plans */
#plans{
    /* make them flexible */
    margin-top: 10px;
    display: flex;
    gap: 150px;
    justify-content: center;
}
/* formatting for all plans */
#text1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #6C5CE7;
}
#text{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
}
#item{
    display: flex;
    padding-top: 30px;
}
#item>img{
    width: 35px;
    height: 35px;
}
#item>p{
    margin-left: 10px;
    margin-top: 2px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
}
/* button formatting for each plan*/
#free>button{
    margin-top: 190px;
    width: 100%;
}
#but3{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    border-radius: 15px;
    border: 0.5px solid #5c5c5e91;

    width: 150px;
    height:45px;
    background-color: #6C5CE7;
}
#paid>button{
    margin-top: 55px;
    width: 100%;
}
#secpaid>button{
    margin-top: 115px;
    width: 100%;
}
/* individual plan */
#paid{
    padding: 30px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/* adding more space */
#free{
    padding: 30px;
}
#secpaid{
    padding: 30px;
}
/* footer */
footer{
    /* sizing */
    margin-top: 150px;
    width: 100%;
    height:550px;
    position: relative;
}
#footerimg{
    /* make image stuck to the bottom of the website */
    position: absolute;
    bottom: 0;
    width: 100%;
    background-size: cover;
}
/* footer section */
#contact{
    display: flex;
    margin-left: 250px;
    flex-wrap: wrap;
}
#contact >div>h1{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.5px;
    color: #ADADAD;
    margin-bottom: 15px;
}
#contact>div>p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #6C5CE7;
}
/* make each div of footer 50% of the width of the website */
#contact>div{
    width: 50%;
    margin-top: 40px;
}
/* first section of footer */
#info{
    display: flex;
    flex-wrap: wrap;
}
/* second section of footer */
#info>li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    width: 33%;
    margin-top: 20px;
    color: #2D3436;
}
#info>li:hover{
    text-decoration: underline;
}
/* contact form */
#firstName, #email{
    border: none;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 250px;

    background-color: #c2c2c241;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
fieldset>ul{
    display: flex;
    flex-wrap: wrap; 
}
fieldset>ul>li{
    width: 300px;
}
#comment >textarea{
    /* so user does not resize textarea */
    resize: none;
}
fieldset> ul>li> textarea{
    width: 100%;
    height:70px;
    border: none;
    background-color: #c2c2c241;

    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* submit button */
#submit{
    width: 225px;
    height: 95px;
    margin-left: 40px;
    margin-top: 18px;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    
    border: none;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6C5CE7;
    color: white;
}
/* when on focus */
#firstName:focus, #email:focus{
    border: 1px solid #6C5CE7;
    color: #6C5CE7;
}
fieldset> ul>li> textarea:focus{
    color: #6C5CE7;
}
#firstName{
    background-image: url(../images/icon-user.png);
    background-repeat: no-repeat;
    background-position: right;
}
#email{
    background-image: url(../images/icon-mail.png);
    background-repeat: no-repeat;
    background-position: right;
}
#message{
    background-image: url(../images/icon-edit.png);
    background-repeat: no-repeat;
    background-position: top right;
}
/* footer image at the bottom hidden for web */
#mobileImg{
    visibility: hidden;
}
/* hide mobile footer from web */
#mobilefoot{
    display: none;
}
/* mobile responsive*/
@media (max-width:600px){
    /* fix position of background images to fit into web */
    #dots{
        top: 20px;
        left: 220px;
    }
    /* fixing the rectangle size */
    #bg::after{
        width: 776px;
        height: 868px;
        
        top: -623px;
        z-index: -1;
        transform: rotate(45deg);
        top: -20%;
        right: -80%; 
    }
    /* make header mobile image visible */
    #mobileImg{
        visibility: visible;
    }
    /* hide web header image version */
    #webImg{
        visibility: hidden;
    }
    /* hide header hyperlinks navigation */
    #navi{
        display: none;
    }
    /* header sizing */
    #head{
        height: 150px;
        width: 100%;

        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
        text-decoration: none;
        justify-content:start;
    }
    /* adjust font sizing */
    #header>h1{
        margin-left: 20px;
        margin-top: 10px;

        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
    }
    #header{
        margin-left: -60px;
    }
    /* header button sizing */
    #buton{
        min-width: 180px;
        height: 55px;
        border-radius: 20px;
        margin-right: 10px;
        

        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
    }
    html{
        min-width: 100%;
    }
    /* grid sizing to fit inside mobile version */
    #grid{
        width: 50%;
        margin-left: -50px;
        /* resize the sizes of the grid template */
        grid-template-columns: repeat(3, 150px) 100px 100px;
        grid-template-rows: 50px repeat(3, 150px);
        margin-left: 50px;
    }
    #title>h2{
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: 64px;
        text-decoration: none;
        text-align: center;
    }
    /* second section */
    #two{
        padding-left: 10px;
        max-width: 600px;
    }
    /* fixing font sizing */
    #two>h1{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
    #two>p{
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        margin-top: 30px;
        width: 80%;
    }
    /* keyword section fix display, make flexible */
    #box{
        gap:10px;
        display: flex;
        flex-wrap: wrap;
    }
    #support>h2{
        margin-top: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
    }
    #support>p{
        margin-top: 10px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 13.5px;
        line-height: 24px;
    }
    /* button formatting for keywords */
    #but2{
        margin-top: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #6C5CE7;
        border-radius: 15px;
        border: 0.5px solid #5c5c5e91;

        width: 150px;
        height:45px;
        background-color: white;
    }
    #support{
        width: 200px;
    }
    /* third section */
    #plans{
        display: flex;
        flex-wrap: wrap;
    }
    #three>h1, #three>h2{
        text-align: left;
        margin-left: 20px;
    }
    /* free plan */
    #free{
        padding: 30px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    /* individual plan */
    #paid{
        margin-top: -80px;
    }
    /* corporate plan */
    #secpaid{
        padding: 30px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin-top: -80px;
        background-color: #6C5CE7;
    }
    /* change text formatting and colour for corporate plan */
    #secpaid>h1{
        color:#55EFC4;
    }
    #secpaid>ul>li>p{
        color: #ffffff;
    }
    #secpaid>h2{
        color: #ffffff;
    }
    /* fix buttons for each plan */
    #free>button{
        color: white;
        background-color: #6C5CE7;
    }
    /* remove contact section */
    #contact{
        display: none;
    }
    /* make footer content visible */
    #mobilefoot{
        display: contents;
        text-align: center;

        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    /* resize footer */
    footer{
        max-height: 200px;
        margin-top: 90px;
        margin-bottom: 60px;
    }
    /* add content formatting for mobile footer */
    #green{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #00B894;
        margin-top: 20px;
    }
    #website{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #6C5CE7;
        margin-top: 20px;
    }
    #mobilefoot>img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    /* remove image at the bottom */
    #footerimg{
        display: none;
    }
    /* remove the text from the grid */
    .galleryItem:nth-child(3){
        visibility: hidden;
    }
}