#head{
    width: 100%;
    height: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:120px;
}
#navi{
    display: flex;
    /* justify-content: space-between; */
    /* text-decoration: none; */
    gap:40px;
    color: #6C5CE7;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    font-weight: 700;
}
#header{
    margin-left: 250px;
    font-size: 48px;
    font-weight: 700;
}
#buton{
    width: 110px;
    height:45px;
    margin-right: 200px;

    border-radius: 50px;
    padding: 10px 30px;
    background-color: #6C5CE7;
    color: white;
}
hr{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
#title>h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 96px;
    text-decoration: none;
    text-align: center;
}
#title>h3{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}
#title{
    margin-top: 120px;
}
#bg {
    position: relative;
    overflow: hidden;
    padding: 50px; 
    margin-top: -5px;
    
}
#bg::after{
    content: '';
    position: absolute;
    width: 1376px;
    height: 768px;
    background: #FFEAA7;
    border-radius: 99px;
    top: -623px;
    right: 570px;
    z-index: -1;
    transform: rotate(45deg);
    top: -50%; /* change value as required */
    right: -20%; /* change value as required */
}
#dots{
    position: absolute;
    width: 209px;
    height: 285px;
    top: 20px;
    left: 1725px;
    overflow: hidden;
   
}
#main{
    width: 100%;
    display: flex;
  
}
#grid{
    /* width: 100%; */
    height: auto;
    padding-top: 200px;
    

    box-sizing: border-box;
    
    /* set up grid */
    display: grid;
    grid-template-columns: repeat(3, 300px) 200px 200px;
    grid-template-rows: 150px repeat(3, 250px);

    grid-template-areas: 
    "img1 img2 img2 img3 img3"
    "img6 img2 img2 img4 img5"
    "img6 img7 img8 img8 img9"
    "img10 img12 img8 img8 img11";

    gap: 20px;
    justify-content: center;
    align-content: center;
}
.galleryItem{
    overflow: hidden;
    position: relative;
    /* border: 1px solid black; */
    border-radius: 10%;
}
.galleryItem:nth-child(1){
    border-radius:0%;
    grid-area: img1;
}

.galleryItem:nth-child(2){
    grid-area: img2;
}
.galleryItem:nth-child(3){
    border-radius: 0%;
    grid-area: img3;
    
}
.galleryItem:nth-child(4){
    grid-area: img4;

}
.galleryItem:nth-child(5){
    grid-area: img5;
    
}
.galleryItem:nth-child(6){
    grid-area: img6;
    
}
.galleryItem:nth-child(7){
    grid-area: img7;
    
}
.galleryItem:nth-child(8){
    grid-area: img8;
    
}
.galleryItem:nth-child(9){
    grid-area: img9;
}
.galleryItem:nth-child(10){
    border-radius: 0%;
    grid-area: img10;
}


/* adjust image sizing  */
.galleryItem >img {
    /* width: 120%; */
    /* width: auto; */
    height: 100%;
    transform-origin: center;
    
    
}

.galleryItem:nth-child(2)>img{
    /* height: auto; */
    width: 100%;
    height: 120%;

}
.galleryItem:nth-child(7)>img{
    /* height: auto; */
    width: 100%;
    height: 105%;

}

.galleryItem:nth-child(2) >h2{
    width: 100%;
    height:40px;
    position:absolute;
    bottom: 0px;
    left: 50%;
    text-align: left;

    padding: 20px 0px 10px 30px;
    
    transform: translateX(-50%);

    color: rgba(255, 255, 255, 0);
    font-size: 18px;
} 
.galleryItem:nth-child(10)>button{
    width: 150px;
    height:45px;

    border-radius: 50px;
    padding: 10px 30px;
    background-color: #6C5CE7;
    color: white;
    
}
.galleryItem:nth-child(10){
    display: flex; 
    justify-content: center; 
    /* align-items: center; */
}
.galleryItem:nth-child(5), .galleryItem:nth-child(6), .galleryItem:nth-child(4), .galleryItem:nth-child(9){
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.galleryItem:nth-child(3), .galleryItem:nth-child(1) {
    display: flex; 
    justify-content: center; 
    align-items:end;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

#two{
    padding-left: 250px;
    margin-top: 100px;
}

#two>h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

#two>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 60%;
}

/* second part */
#box{
    display: flex;
    gap: 80px;
}
#im{
    position: relative;
}

#first{
    position:absolute;
    
    top: 7px;
    left: 4px;
}
#second{
    position: relative;
    z-index: -1;
}
#support{
    width: 17%;
    margin-top: 40px;
    
}
#support>h2{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
#support>p{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
#but2{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #6C5CE7;
    border-radius: 15px;
    border: 0.5px solid #5c5c5e91;

    width: 150px;
    height:45px;
    background-color: white;

}

