#head{
    width: 100vw;
    height: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:80px;
}
#navi{
    display: flex;
    /* justify-content: space-between; */
    /* text-decoration: none; */
    gap:40px;
    color: #6C5CE7;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    font-weight: 700;
}
#header{
    margin-left: 20px;
    font-size: 48px;
    font-weight: 700;
}
#buton{
    width: 80px;
    height:35px;
    margin-right: 20px;
}
hr{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#title>h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 96px;
    text-decoration: none;
    text-align: center;
}
#title>h3{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}
#title{
    margin-top: 120px;
}
#bg {
    position: relative;
    overflow: hidden;
    padding: 50px; 
}
#bg::after{
    content: '';
    position: absolute;
    width: 1376.0297616065034px;
    height: 767.9069692797068px;
    background: #FFEAA7;
    border-radius: 99px 50%;
    top: -723px;
    right: 670px;
    z-index: -1;
    rotate: 45 deg;
    top: -50%; /* change value as required */
    right: -20%; /* change value as required */
}
#dots{
    position: absolute;
    width: 209px;
    height: 285px;
    top: 114px;
    left: 1231px;
   
}
#main{
    width: 100%;
    display: flex;
}