#head{
    width: 100vw;
    height: 90px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:80px;
}
#navi{
    display: flex;
    /* justify-content: space-between; */
    /* text-decoration: none; */
    gap:40px;
    color: #6C5CE7;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    font-weight: 700;
}
#header{
    margin-left: 20px;
    font-size: 48px;
    font-weight: 700;
}
#buton{
    width: 80px;
    height:35px;
    margin-right: 20px;
}
hr{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#title>h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 96px;
    text-decoration: none;
    text-align: center;
}
#title>h3{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}
#title{
    margin-top: 120px;
}
